.logo {
    margin: 2rem 0;
    font-family: 'Yellowtail', cursive;
}

.m_tb_1_5 {
    margin: 1.5rem 0;
}

.m_tb_2 {
    margin: 2rem 0;
}

.m_b_2 {
    margin-bottom: 2rem;
}

.m_t_2 {
    margin-bottom: 2rem;
}

.txt_center {
    text-align: center;
}

li {
    text-align: left;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.thumbnail_img_large {
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.thumbnail_img_small {
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB';
}

.round-button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round-button:hover{
    color: dimgray;
}

a {
    text-decoration: none;
    color: black;
}

a + a {
    margin-left: 1rem;
}

.article-image {
    border-radius: 2rem;
    width: 70%;
    box-shadow: 0 0 .5rem gray;
}

.article-content {
    font-size: 1.1rem;
    text-align: left;
}

.comment_box {
    border: solid;
    border-color: gray;
    text-align:left;
    border-radius: 1rem;
    margin:1rem 0;
    padding: 1rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

.menu span+span {
    margin-left: .5rem;
}